/* ============================================================ */
/* TEXT COLOR                                                   */
/* ============================================================ */
.text-aqua {
    color: rgb(86, 216, 228);
}
/* ============================================================ */
/* TEXT COLOR                                                   */
/* ============================================================ */

/* ============================================================ */
/* BUTTONS                                                      */
/* ============================================================ */
/* Aqua */
.btn-aqua {
    background-color: rgb(86, 216, 228);
    transition: background-color 0.3s;
    color: rgb(1, 22, 24);
}
.btn-aqua:hover {
    background-color: rgb(77, 200, 211);
}
/* Aqua */
/* ============================================================ */
/* BUTTONS                                                      */
/* ============================================================ */

/* ============================================================ */
/* BACKGROUNDS                                                  */
/* ============================================================ */
.bg-blue {
    background-color: rgb(61, 133, 240);
}
.bg-green {
    background-color: rgb(26, 148, 69);
}
/* ============================================================ */
/* BACKGROUNDS                                                  */
/* ============================================================ */
